<main>
    <section class="text-center container">
        <div class="row py-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="fw-lighter">Glance</h1>
                <p class="lead text-muted">Experimenting with AR.JS!!</p>
                <p class="lead text-black">
                    Below are three different types of marker,
                    each of which on being scanned, show different AR ojects.
                </p>

                <p>
                    <a href="/scan" class="btn btn-dark">Try it out!</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../../assets/barcode-marker.png" alt="barcode marker">
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../../assets/hiro-marker.png" alt="preset hiro marker">
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../../assets/custom-marker.png" alt="custom marker">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>